version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: stack_base_backend
    container_name: stack_base_backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
    env_file:
      - .env
    restart: always
